@charset "UTF-8";
    body{
        font-family: 'Times New Roman', Times, serif;
        text-align: justify;
        background-color: #ec4c87;
        font-size: 20px;
   text{
    color: rgb(161, 77, 106);}
    }
    h1{ color:#3C8C03;}
    